@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-macondo {
    font-family: "Macondo", serif;
}

.font-marcellus {
    font-family: "Marcellus", serif;
}

.font-space-grotesk {
    font-family: "Space Grotesk", serif;

}

.font-kumar-one {
    font-family: "Iceberg", serif;

}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
}
.font-garamond{
    font-family: "EB Garamond", serif;
  }