@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.font-macondo {
    font-family: "Macondo", serif;
}

.font-marcellus {
    font-family: "Marcellus", serif;
  }